{{!< layout/default}}

{{#extend "css"}}
<style>
</style>
{{/extend}}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="dropdown">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownTools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-wrench"></i> HERRAMIENTAS
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownTools">
                    <a id="" class="dropdown-item" href="#">SIN HERRAMIENTAS</a>
                </div>
            </div>
            <center><h1><span id="enterpriseName"></span> <a data-container="body" data-toggle="popover" data-placement="left" href="#" id="changeDates" role="button" class="btn btn-primary "><i class="far fa-calendar-alt"></i> CAMBIAR FECHAS  <span id="dateSelected" ></span></a></h1></center>
            <br>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3" id="generalWeightCardContainer"></div>
        <div class="col-md-9">
            <div id="generalWeightChart"></div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3" id="generalBagsCardContainer"></div>
        <div class="col-md-9">
            <div id="generalBagsChart"></div>
        </div>
    </div>

    <div class="row" id="foreachCenter"></div>

    
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal_body"></div>
            <div class="modal-footer" id="modal_footer"></div>
        </div>
    </div>
</div>
{{#extend "js"}}
<script src="/public/js/highchartsTheme.js"></script>
<script>
let initDate = moment().format('YYYY-MM-DD')
let endDate = moment().format('YYYY-MM-DD')
let fullData = {}

$(document).ready(function() {
    selectNav('nav-dashboard')
    $('#dateSelected').html(moment().format('DD/MM/YYYY'))
    getCredentials().then(credentials=>{
        $('#enterpriseName').html(credentials.enterprise.toUpperCase())
    })

    getFullData()
})

$('#changeDates').on('click', function() {
    $('#modal').modal('show')

    $('#modal_title').html(`<i class="fas fa-calendar-alt"></i> Rango de fechas`)

    $('#modal_body').html(`
        <div class="card">
            <div class="card-body">
                <center><h4 class="card-title">Fechas: Desde Hasta</h4></center>
                <input style="font-size: 30px; text-align:center;" class="form-control" id="rangeDate" type="text" name="daterange" /> 
            </div>
        </div>  
    `)

    $('#modal_footer').html(`
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="rangeReport">Consultar rango</button>
    `)

    $('#rangeDate').daterangepicker({
        opens: 'top',
        startDate: moment(initDate).format('DD/MM/YYYY'),
        endDate: moment(endDate).format('DD/MM/YYYY'),
        locale: {
            applyLabel: 'Aplicar',
            cancelLabel: 'Cancelar',
            format: 'DD/MM/YYYY',
            daysOfWeek: [
                'Dom',
                'Lun',
                'Mar',
                'Mie',
                'Jue',
                'Vie',
                'Sab'
            ],
            monthNames: [
                'Enero',
                'Febrero',
                'Marzo',
                'Abril',
                'Mayo',
                'Junio',
                'Julio',
                'Agosto',
                'Septiembre',
                'Octubre',
                'Noviembre',
                'Diciembre'
            ],
            firstDay: 1
        }
    }, function(start, end, label) {
        initDate = start.format('YYYY-MM-DD')
        endDate = end.format('YYYY-MM-DD')
    })

    $('#rangeReport').on('click', function(){
        getFullData()
    })
})

const getFullData = () => {
    console.log(initDate, endDate)

    $('#modal').modal('hide')
    if(initDate == endDate) {
        $('#dateSelected').html(moment(initDate).format('DD/MM/YYYY'))
    } else {
        $('#dateSelected').html(`${moment(initDate).format('DD/MM/YYYY')} - ${moment(endDate).format('DD/MM/YYYY')}`)
    }

    ajax({
        url: 'api/rangeTotalData',
        type: 'POST',
        data: {
            initDate,
            endDate
        }
    }).then(res=> {
        if(res.ok) {
          toastr.success(`${res.ok.length} sacos encontrados`)  
          graphCenters(res.ok)
        } else if(res.err) {
            toastr.warning(res.err)
        }
    })
}

const formatData = (centersData) => {
    let centers = {}
    let generalData = {
        weight: 0,
        bags: 0,
        highchartsWeightSeries: [],
        highchartsBagsSeries: []
    }

    _.forEach(centersData, (el)=>{
        generalData.weight += el.bag.weight
        generalData.bags += 1

        if (!centers[el.center]) {
            centers[el.center] = {
                center: el.center,
                totalWeight: el.bag.weight,
                bagsCount: 1,
                bags: [{
                    _id: el._id,
                    weigher: el.weigher,
                    provider: el.provider,
                    weight: el.bag.weight
                }]
            }
        } else {
            centers[el.center].totalWeight += el.bag.weight
            centers[el.center].bagsCount += 1
            centers[el.center].bags.push({
                _id: el._id,
                weigher: el.weigher,
                provider: el.provider,
                weight: el.bag.weight
            })
        }
    })

    _.forEach(Object.keys(centers), function(el){
        generalData.highchartsWeightSeries.push({
            name: `${centers[el].center}: ${centers[el].totalWeight} Kg`,
            data: [centers[el].totalWeight]
        })

        generalData.highchartsBagsSeries.push({
            name: `${centers[el].center}: ${centers[el].bagsCount}`,
            data: [centers[el].bagsCount]
        })
    })

    fullData.generalWeight = generalData.weight
    fullData.generalBags = generalData.bags
    fullData.centersData = centers
    fullData.highchartsWeightSeries = generalData.highchartsWeightSeries
    fullData.highchartsBagsSeries = generalData.highchartsBagsSeries
}

const graphCenters = (centersData) => {
    formatData(centersData)
    console.log(fullData)

    $('#generalWeightCardContainer').html(`
        <div class="card text-white bg-primary mb-3">
            <div class="card-header"><center>KILOS TOTALES</center></div>
            <div class="card-body">
                <center><h4 class="card-title"><i class="fas fa-weight"></i> ${fullData.generalWeight} Kg</h4></center>
            </div>
        </div>
        <button type="button" class="btn btn-primary">Seleccionar centro</button>
        <button type="button" class="btn btn-primary">Primary</button>
    `)

    $('#generalBagsCardContainer').html(`
        <div class="card text-white bg-primary mb-3">
            <div class="card-header"><center>SACOS TOTALES</center></div>
            <div class="card-body">
                <center><h4 class="card-title"><i class="fas fa-shopping-bag"></i> ${fullData.generalBags}</h4></center>
            </div>
        </div>
    `)

    let generalWeightChart = Highcharts.chart(`generalWeightChart`, {
        //colors: highChartsColors,
        title: {
            text: 'KILOS POR CENTRO'
        },
        chart: {
            type: 'bar'
        },
        subtitle: {
            text: ``
        },
        xAxis: {
            categories: ['']
        },
        yAxis:{
            title:{
                text: 'cantidad'
            },
        },
        series: fullData.highchartsWeightSeries 
    });

    let generalBagsChart = Highcharts.chart(`generalBagsChart`, {
        //colors: highChartsColors,
        title: {
            text: 'SACOS POR CENTRO'
        },
        chart: {
            type: 'column'
        },
        subtitle: {
            text: ``
        },
        xAxis: {
            categories: ['']
        },
        yAxis:{
            title:{
                text: 'cantidad'
            },
        },
        series: fullData.highchartsBagsSeries 
    });
}

</script>
{{/extend}}

