{{!< layout/default}}

{{#extend "css"}}
<style>
@keyframes socketConnectionTrue {
    0% {
        color: rgba(26, 188, 156,1.0);
    }
    100% {
        color: rgba(236, 240, 241,1.0);
    }
}

@keyframes socketConnectionFalse {
    0% {
        color: rgba(231, 76, 60,1.0);
    }
    100% {
        color: rgba(236, 240, 241,1.0);
    }
}

.socketConnectionTrue {
    animation: socketConnectionTrue 1s infinite;
}

.socketConnectionFalse {
    animation: socketConnectionFalse 1s infinite;
}
</style>
{{/extend}}
<div class="socketConnection" id="socketConnection" style="position:fixed; right:0; margin-right:5px;"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="dropdown">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownTools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-wrench"></i> HERRAMIENTAS
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownTools">
                    <a id="" class="dropdown-item" href="#">SIN HERRAMIENTAS</a>
                </div>
            </div>
            <center><h1><span id="enterpriseName"></span> <a data-container="body" data-toggle="popover" data-placement="left" href="#" id="changeDates" role="button" class="btn btn-primary "><i class="far fa-calendar-alt"></i> CAMBIAR FECHAS  <span id="dateSelected" ></span></a></h1></center>
            <br>
        </div>
    </div>
    
    <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"><i class="far fa-chart-bar"></i> Gráficos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="fas fa-table"></i> Tabla</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="row">
                <div class="col-md-3" id="generalWeightCardContainer"></div>
                <div class="col-md-9">
                    <div id="generalWeightChart"></div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3" id="generalBagsCardContainer"></div>
                <div class="col-md-9">
                    <div id="generalBagsChart"></div>
                </div>
            </div>
                
            <div class="row" id="foreachCenter"></div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="col-md-12 table-responsive" style="padding-left:20px; padding-right:20px;">
                <table id="bagsTable" class="display nowrap table" width="100%">
                    <thead>
                        <tr>
                            <th>orderDate</th>
                            <th>FECHA <i class="fa fa-angle-double-down"></i></th>
                            <th>PESADOR</th>
                            <th>CENTRO</th>
                            <th>CÓDIGO</th>
                            <th>PESO</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal_body"></div>
            <div class="modal-footer" id="modal_footer"></div>
        </div>
    </div>
</div>
{{#extend "js"}}
<script src="/public/js/highchartsTheme.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

<script>
let datatable
let initDate = moment().format('YYYY-MM-DD')
let endDate = moment().format('YYYY-MM-DD')
let fullData = {}
let socket = io('{{socket}}')

socket.on('connect', function() {
    $('#socketConnection').addClass('socketConnectionTrue')
    $('#socketConnection').removeClass('socketConnectionFalse')
    $('#socketConnection').html('<i class="fas fa-2x fa-circle"></i>')
})

socket.on('disconnect', function(){
    $('#socketConnection').addClass('socketConnectionFalse')
    $('#socketConnection').removeClass('socketConnectionTrue')
    $('#socketConnection').html('<i class="fas fa-2x fa-plug"></i><span style="font-size: 20px; margin-left:-16px; margin-top:-5px; color:white !important;">X</span>')
})

socket.on('uploadBags', function(msg){
    console.log('TESTIIIING')
    //rangeTotalData(initDate, endDate)
    toastr.success(`Se ha efectuado una nueva subida de ${msg} sacos`)
    //console.log(msg)
    getFullData()
})

$(document).ready(function() {
    selectNav('nav-dashboard')
    $('#dateSelected').html(moment().format('DD/MM/YYYY'))
    getCredentials().then(credentials=>{
        $('#enterpriseName').html(credentials.enterprise.toUpperCase())
    })

    loadBagsTable()
    getFullData()
})

function loadBagsTable() {
    datatable = $('#bagsTable').DataTable({
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'excel',
                text: 'EXCEL',
                //messageTop: ``,
                title: 'SALMONERAS',
                exportOptions: {
                    columns: [ 1, 2, 3, 4, 5 ]
                }
            },
            {
                extend: 'pdf',
                text: 'PDF',
                //messageTop: ``,
                title: 'SALMONERAS',
                orientation: 'landscape',
                pageSize: 'LETTER',
                exportOptions: {
                    columns: [ 1, 2, 3, 4, 5 ]
                }
            },
            {
                extend: 'print',
                text: 'IMPRIMIR',
                title: 'SALMONERAS',
                pageSize: 'LETTER',
                exportOptions: {
                    columns: [ 1, 2, 3, 4, 5 ]
                }
            }
        ],
        ordering: true,
        order: [[ 0, 'desc' ]],
        iDisplayLength: 50,
        lengthChange: false,
        searchHighlight: true,
        oLanguage: {
            sSearch: 'buscar:'
        },
        columnDefs: [
            {
                targets: [0],
                visible: false
            },
            {
                targets: [ 1,2,3,4,5 ],
                orderable: false
            }
        ],
        responsive: false,
        columns: [
            {data: 'orderDate'},
            {data: 'date'},
            {data: 'weigher'},
            {data: 'center'},
            {data: 'code'},
            {data: 'weight'}
        ],
        initComplete: function(settings, json) {
            //loadBagsToTable()
        }
    })
}

$('#changeDates').on('click', function() {
    $('#modal').modal('show')

    $('#modal_title').html(`<i class="fas fa-calendar-alt"></i> Rango de fechas`)

    $('#modal_body').html(`
        <div class="card">
            <div class="card-body">
                <center><h4 class="card-title">Fechas: Desde Hasta</h4></center>
                <input style="font-size: 30px; text-align:center;" class="form-control" id="rangeDate" type="text" name="daterange" /> 
            </div>
        </div>  
    `)

    $('#modal_footer').html(`
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="rangeReport">Consultar rango</button>
    `)

    $('#rangeDate').daterangepicker({
        opens: 'top',
        startDate: moment(initDate).format('DD/MM/YYYY'),
        endDate: moment(endDate).format('DD/MM/YYYY'),
        locale: {
            applyLabel: 'Aplicar',
            cancelLabel: 'Cancelar',
            format: 'DD/MM/YYYY',
            daysOfWeek: [
                'Dom',
                'Lun',
                'Mar',
                'Mie',
                'Jue',
                'Vie',
                'Sab'
            ],
            monthNames: [
                'Enero',
                'Febrero',
                'Marzo',
                'Abril',
                'Mayo',
                'Junio',
                'Julio',
                'Agosto',
                'Septiembre',
                'Octubre',
                'Noviembre',
                'Diciembre'
            ],
            firstDay: 1
        }
    }, function(start, end, label) {
        initDate = start.format('YYYY-MM-DD')
        endDate = end.format('YYYY-MM-DD')
    })

    $('#rangeReport').on('click', function(){
        getFullData()
    })
})

const getFullData = () => {
    console.log(initDate, endDate)

    $('#modal').modal('hide')
    if(initDate == endDate) {
        $('#dateSelected').html(moment(initDate).format('DD/MM/YYYY'))
    } else {
        $('#dateSelected').html(`${moment(initDate).format('DD/MM/YYYY')} - ${moment(endDate).format('DD/MM/YYYY')}`)
    }

    ajax({
        url: 'api/bagsRangeData',
        type: 'POST',
        data: {
            initDate,
            endDate
        }
    }).then(res=> {
        if(res.ok) {
          toastr.success(`${res.ok.length} sacos encontrados`)  
          graphCenters(res.ok)
          loadBagsToTable(res.ok)
        } else if(res.err) {
            toastr.warning(res.err)
        }
    })
}

const loadBagsToTable = (bags) => {
    datatable.clear().draw();
    datatable.rows.add(prettifyBagsData(bags)).draw()
}

function prettifyBagsData(logs) {
    return logs.map(el=>{
        el.orderDate = moment(el._id).format('YYYYMMDDHHmmssSSSSS')
        el.date = moment(el._id).format('DD/MM/YYYY HH:mm')
        el.weight = `${number_format(el.weight)} Kg`
        el.weigher = rutFunc(el.weigher)
        return el
    })
}

const formatData = (centersData) => {
    let centers = {}
    let generalData = {
        weight: 0,
        bags: 0,
        highchartsWeightSeries: [],
        highchartsBagsSeries: []
    }

    _.forEach(centersData, (el)=>{
        generalData.weight += el.weight
        generalData.bags += 1

        if (!centers[el.center]) {
            centers[el.center] = {
                center: el.center,
                totalWeight: el.weight,
                bagsCount: 1,
                bags: [{
                    _id: el._id,
                    weigher: el.weigher,
                    provider: el.provider,
                    weight: el.weight
                }]
            }
        } else {
            centers[el.center].totalWeight += el.weight
            centers[el.center].bagsCount += 1
            centers[el.center].bags.push({
                _id: el._id,
                weigher: el.weigher,
                provider: el.provider,
                weight: el.weight
            })
        }
    })

    _.forEach(Object.keys(centers), function(el){
        generalData.highchartsWeightSeries.push({
            name: `${centers[el].center}: ${number_format(centers[el].totalWeight)} Kg`,
            data: [centers[el].totalWeight]
        })

        generalData.highchartsBagsSeries.push({
            name: `${centers[el].center}: ${number_format(centers[el].bagsCount)}`,
            data: [centers[el].bagsCount]
        })
    })

    fullData.generalWeight = generalData.weight
    fullData.generalBags = generalData.bags
    fullData.centersData = centers
    fullData.highchartsWeightSeries = generalData.highchartsWeightSeries
    fullData.highchartsBagsSeries = generalData.highchartsBagsSeries
}

const graphCenters = (centersData) => {
    formatData(centersData)
    console.log(fullData)

    $('#generalWeightCardContainer').html(`
        <div class="card text-white bg-primary mb-3">
            <div class="card-header"><center>KILOS TOTALES</center></div>
            <div class="card-body">
                <center><h4 class="card-title"><i class="fas fa-weight"></i> ${number_format(fullData.generalWeight)} Kg</h4></center>
            </div>
        </div>
        <!--
        <button type="button" class="btn btn-primary">Seleccionar centro</button>
        <button type="button" class="btn btn-primary">Primary</button>
        -->
    `)

    $('#generalBagsCardContainer').html(`
        <div class="card text-white bg-primary mb-3">
            <div class="card-header"><center>SACOS TOTALES</center></div>
            <div class="card-body">
                <center><h4 class="card-title"><i class="fas fa-shopping-bag"></i> ${fullData.generalBags}</h4></center>
            </div>
        </div>
    `)

    let generalWeightChart = Highcharts.chart(`generalWeightChart`, {
        //colors: highChartsColors,
        title: {
            text: 'KILOS POR CENTRO'
        },
        chart: {
            type: 'bar'
        },
        subtitle: {
            text: ``
        },
        xAxis: {
            categories: ['']
        },
        yAxis:{
            title:{
                text: 'kilos'
            },
        },
        series: fullData.highchartsWeightSeries 
    });

    let generalBagsChart = Highcharts.chart(`generalBagsChart`, {
        //colors: highChartsColors,
        title: {
            text: 'SACOS POR CENTRO'
        },
        chart: {
            type: 'column'
        },
        subtitle: {
            text: ``
        },
        xAxis: {
            categories: ['']
        },
        yAxis:{
            title:{
                text: 'cantidad'
            },
        },
        series: fullData.highchartsBagsSeries 
    });
}

</script>
{{/extend}}

