<!DOCTYPE html>
<html lang="es">
<head>
    {{! Document Layout}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SALMONERAS</title>
    <link rel="stylesheet" href="/public/css/bootstrap.lux.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <style>
        .toast {
            opacity: 1 !important;
        }
    </style>
    {{#block "css"}}
    {{/block}}

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="padding:10px !important;">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a id="nav-dashboard" class="nav-link" href="#"><i class="far fa-chart-bar"></i> Dashboard <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav flex-row ml-md-auto d-md-flex">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i> <span id="userCredentials"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="/logout"><i style="color:#e74c3c;" class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
                        </div>   
                    </li>
                </ul> 
            </div>
           
        </div>   
        
    </nav>

</head>

<body>

    {{{ content }}}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
    <script src="/public/js/jquery.rut.min.js"></script>
    
    <script>
        $(document).ready(function() {
            getCredentials().then(credentials=>{
                $('#userCredentials').html(`${credentials.name} ${credentials.lastname}`)
            })
        })

        toastr.options.closeButton = true;

        const getCredentials = () => {
            return new Promise(resolve=> {
                ajax({
                    url: 'api/session'
                }).then(res=> {
                    resolve(res)
                })
            })
        }

        const ajax = ({type, url, data}) => {
            return new Promise((resolve, reject)=> {
                let options = {
                    url
                }
                if(!type) {
                    options.type = 'GET'
                } else {
                    options.type = type
                }

                if(data) options.data = data

                $.ajax(options)
                .done(result=>{
                    resolve(result)
                })
                .fail((e)=> {
                    reject({err: `ERROR IN ${url}}`, e})
                })
            })
        }

        const selectNav = (nav) => {
            $('#'+nav).addClass('active')
        }

    </script>
    {{#block "js"}}
    {{/block}}
</body>
</html>